Repository NREL/ssc, pull requests merged in 2021-11, with the labels that each got.

#646 Fixed utilityrate to check for hourly buy rates
  ssc/cmod_utilityrate5.cpp
Labels: financial

#637 Apply ratchets to per kw charges
  shared/lib_utility_rate.cpp
  shared/lib_utility_rate_equations.cpp
  shared/lib_utility_rate_equations.h
  ssc/cmod_utilityrate5.cpp
  ssc/common.cpp
  test/input_cases/shared_rate_data.cpp
  test/shared_test/lib_utility_rate_equations_test.cpp
  test/ssc_test/cmod_utilityrate5_test.cpp
Labels: enhancement, utility rate

#647 update index that was missed in PR 641
  ssc/cmod_cashloan.cpp
  ssc/cmod_communitysolar.cpp
  ssc/cmod_equpartflip.cpp
  ssc/cmod_host_developer.cpp
  ssc/cmod_levpartflip.cpp
  ssc/cmod_merchantplant.cpp
  ssc/cmod_saleleaseback.cpp
  ssc/cmod_singleowner.cpp
Labels: bug, battery

#656 Added optional override for max number of turbines
  shared/lib_windwatts.cpp
  shared/lib_windwatts.h
  ssc/cmod_windpower.cpp
  test/ssc_test/cmod_windpower_test.cpp
Labels: wind

#648 Sloped Terrain inputs for backtracking algorithm, shadeFraction
  shared/lib_irradproc.cpp
  shared/lib_irradproc.h
  shared/lib_pv_io_manager.cpp
  shared/lib_pv_io_manager.h
  ssc/cmod_belpe.cpp
  ssc/cmod_hcpv.cpp
  ssc/cmod_irradproc.cpp
  ssc/cmod_poacalib.cpp
  ssc/cmod_pvsamv1.cpp
  ssc/cmod_pvwattsv1.cpp
  ssc/cmod_pvwattsv1_1ts.cpp
  ssc/cmod_pvwattsv5.cpp
  ssc/cmod_pvwattsv7.cpp
  ssc/cmod_pvwattsv8.cpp
  ssc/cmod_swh.cpp
  tcs/csp_solver_weatherreader.cpp
  tcs/flat_plate_solar_collector.cpp
  test/shared_test/lib_irradproc_test.cpp
  test/shared_test/lib_irradproc_test.h
Labels: pv

#653 Batt btm to grid and manual clip
  shared/lib_battery_dispatch.cpp
  shared/lib_battery_dispatch.h
  shared/lib_battery_dispatch_automatic_btm.cpp
  shared/lib_battery_dispatch_automatic_btm.h
  shared/lib_battery_dispatch_manual.cpp
  shared/lib_battery_dispatch_manual.h
  shared/lib_battery_powerflow.cpp
  shared/lib_battery_powerflow.h
  ssc/cmod_battery.cpp
  ssc/cmod_battery.h
  ssc/cmod_battwatts.cpp
  test/input_cases/battery_common_data.h
  test/input_cases/generic_common_data.h
  test/input_cases/pvsamv1_battery_common_data.h
  test/input_cases/pvsamv1_common_data.cpp
  test/shared_test/lib_battery_dispatch_automatic_btm_test.cpp
  test/shared_test/lib_battery_dispatch_automatic_btm_test.h
  test/shared_test/lib_battery_dispatch_manual_test.cpp
  test/shared_test/lib_battery_dispatch_test.h
  test/ssc_test/cmod_battwatts_test.cpp
Labels: enhancement, battery

#652 Time series energy and demand charges for LCOE calcs
  shared/lib_utility_rate.cpp
  shared/lib_utility_rate.h
  shared/lib_utility_rate_equations.cpp
  shared/lib_utility_rate_equations.h
  ssc/cmod_cashloan.cpp
  ssc/cmod_host_developer.cpp
  ssc/cmod_utilityrate5.cpp
  ssc/common_financial.cpp
  test/shared_test/lib_utility_rate_test.cpp
Labels: enhancement, utility rate

#677 Addtl lifetime testing in integration tests
  test/ssc_test/cmod_battery_pvsamv1_test.cpp
Labels: bug, battery
