Repository NREL/ssc, pull requests merged in 2021-02, with the labels that each got.

#533 Fixed units on Battery replacement cost Data series
  ssc/common.cpp
Labels: battery, bug

#538 Ssc 535 fix tiers net billing
  ssc/cmod_utilityrate5.cpp
  test/ssc_test/cmod_utilityrate5_test.cpp
Labels: bug, utility rate

#528 Li-Ion NMC battery lifetime
  shared/CMakeLists.txt
  shared/lib_battery.cpp
  shared/lib_battery.h
  shared/lib_battery_dispatch.cpp
  shared/lib_battery_dispatch_automatic_btm.h
  shared/lib_battery_lifetime.cpp
  shared/lib_battery_lifetime.h
  shared/lib_battery_lifetime_calendar_cycle.cpp
  shared/lib_battery_lifetime_calendar_cycle.h
  shared/lib_battery_lifetime_nmc.cpp
  shared/lib_battery_lifetime_nmc.h
  shared/logger.cpp
  ssc/cmod_battery.cpp
  ssc/cmod_battery.h
  ssc/cmod_battery_stateful.cpp
  ssc/cmod_battwatts.cpp
  ssc/cmod_fuelcell.cpp
  ssc/cmod_pvsamv1.cpp
  ssc/cmod_pvwattsv5.cpp
  test/input_cases/battery_common_data.h
  test/input_cases/generic_common_data.h
  test/input_cases/pvsamv1_battery_common_data.h
  test/input_cases/pvsamv1_common_data.cpp
  test/shared_test/lib_battery_dispatch_automatic_btm_test.h
  test/shared_test/lib_battery_dispatch_automatic_fom_test.h
  test/shared_test/lib_battery_dispatch_manual_test.h
  test/shared_test/lib_battery_lifetime_test.cpp
  test/shared_test/lib_battery_lifetime_test.h
  test/shared_test/lib_battery_properties.h
  test/shared_test/lib_battery_test.cpp
  test/shared_test/lib_battery_test.h
  test/ssc_test/cmod_battery_stateful_test.cpp
  test/ssc_test/cmod_battery_stateful_test.h
  test/ssc_test/cmod_windpower_test.cpp
Labels: battery
