Repository NREL/ssc, pull requests merged in 2021-07, with the labels that each got.

#566 Wave model time series
  ssc/cmod_fuelcell.cpp
  ssc/cmod_geothermal.cpp
  ssc/cmod_mhk_wave.cpp
  ssc/cmod_pvsamv1.cpp
  ssc/cmod_pvwattsv7.cpp
  ssc/cmod_wavefile.cpp
  test/input_cases/mhk/mhk_wave_inputs.h
  test/input_cases/mhk/time_series_edited.csv
  test/input_cases/mhk/timeseries_data_file.csv
  test/ssc_test/cmod_mhk_wave_test.cpp
  test/ssc_test/cmod_mhk_wave_test.h
Labels: mhk

#530 Lcos cost inputs
  ssc/cmod_battery.cpp
  ssc/cmod_cashloan.cpp
  ssc/cmod_equpartflip.cpp
  ssc/cmod_host_developer.cpp
  ssc/cmod_levpartflip.cpp
  ssc/cmod_merchantplant.cpp
  ssc/cmod_pvsamv1_eqns.cpp
  ssc/cmod_pvsamv1_eqns.h
  ssc/cmod_saleleaseback.cpp
  ssc/cmod_singleowner.cpp
  ssc/common.cpp
  ssc/common.h
  ssc/common_financial.cpp
  ssc/common_financial.h
  test/input_cases/battery_common_data.h
  test/input_cases/csp_financial_defaults.cpp
  test/input_cases/generic_common_data.h
  test/input_cases/pvsamv1_battery_common_data.h
  test/input_cases/pvsamv1_cases.h
  test/input_cases/pvsamv1_common_data.cpp
  test/ssc_test/cmod_battery_pvsamv1_test.cpp
Labels: battery, enhancement

#587 TOD multipliers for LCOS calculations
  ssc/cmod_cashloan.cpp
  ssc/cmod_equpartflip.cpp
  ssc/cmod_host_developer.cpp
  ssc/cmod_levpartflip.cpp
  ssc/cmod_merchantplant.cpp
  ssc/cmod_saleleaseback.cpp
  ssc/cmod_singleowner.cpp
  ssc/common_financial.cpp
  ssc/common_financial.h
Labels: battery

#589 fix check_continuous_single_year
  ssc/common.cpp
Labels: pv

#588 Battery Life Model for LMO/LTO chemistry
  shared/CMakeLists.txt
  shared/lib_battery.cpp
  shared/lib_battery.h
  shared/lib_battery_lifetime.cpp
  shared/lib_battery_lifetime.h
  shared/lib_battery_lifetime_calendar_cycle.cpp
  shared/lib_battery_lifetime_calendar_cycle.h
  shared/lib_battery_lifetime_lmolto.cpp
  shared/lib_battery_lifetime_lmolto.h
  shared/lib_battery_lifetime_nmc.cpp
  shared/lib_battery_lifetime_nmc.h
  shared/logger.cpp
  ssc/cmod_battery.cpp
  ssc/cmod_battery_stateful.cpp
  test/CMakeLists.txt
  test/input_cases/battery_lmolto_life/lifetime_validation_cell_1.json
  test/input_cases/battery_lmolto_life/lifetime_validation_cell_10.json
  test/input_cases/battery_lmolto_life/lifetime_validation_cell_11.json
  test/input_cases/battery_lmolto_life/lifetime_validation_cell_12.json
  test/input_cases/battery_lmolto_life/lifetime_validation_cell_13.json
  test/input_cases/battery_lmolto_life/lifetime_validation_cell_14.json
  test/input_cases/battery_lmolto_life/lifetime_validation_cell_15.json
  test/input_cases/battery_lmolto_life/lifetime_validation_cell_16.json
  test/input_cases/battery_lmolto_life/lifetime_validation_cell_2.json
  test/input_cases/battery_lmolto_life/lifetime_validation_cell_3.json
  test/input_cases/battery_lmolto_life/lifetime_validation_cell_4.json
  test/input_cases/battery_lmolto_life/lifetime_validation_cell_5.json
  test/input_cases/battery_lmolto_life/lifetime_validation_cell_6.json
  test/input_cases/battery_lmolto_life/lifetime_validation_cell_7.json
  test/input_cases/battery_lmolto_life/lifetime_validation_cell_8.json
  test/input_cases/battery_lmolto_life/lifetime_validation_cell_9.json
  test/shared_test/lib_battery_lifetime_lmolto_test.cpp
  test/shared_test/lib_battery_lifetime_nmc_test.cpp
  test/shared_test/lib_battery_lifetime_test.cpp
  test/shared_test/lib_battery_lifetime_test.h
  test/shared_test/lib_battery_test.cpp
  test/shared_test/lib_battery_test.h
  test/ssc_test/cmod_battery_stateful_test.cpp
  test/ssc_test/cmod_battery_stateful_test.h
Labels: battery

#596 Variable production O&M cost changes for battery and fuel cell
  ssc/cmod_cashloan.cpp
  ssc/cmod_equpartflip.cpp
  ssc/cmod_fuelcell.cpp
  ssc/cmod_fuelcell.h
  ssc/cmod_host_developer.cpp
  ssc/cmod_levpartflip.cpp
  ssc/cmod_merchantplant.cpp
  ssc/cmod_saleleaseback.cpp
  ssc/cmod_singleowner.cpp
  ssc/common.cpp
  ssc/common_financial.cpp
Labels: bug
