Repository NREL/ssc, pull requests merged in 2022-03, with the labels that each got.

#772 Fix DC degradation check should be lt instead of gt zero
  shared/lib_pv_io_manager.cpp
Labels: bug

#778 Archive shared libraries
  .github/workflows/ci.yml
Labels: enhancement

#781 Update translate schedule inputs to handle 36 tou periods
  shared/lib_utility_rate_equations.cpp
  test/ssc_test/cmod_utilityrate5_test.cpp
Labels: enhancement, utility rate

#780 Fix sam 976 daily losses batteries
  shared/lib_battery_dispatch.cpp
  shared/lib_battery_dispatch_automatic_btm.cpp
  shared/lib_battery_powerflow.cpp
  shared/lib_battery_powerflow.h
  shared/lib_pv_io_manager.cpp
  shared/lib_pv_io_manager.h
  ssc/cmod_battery.cpp
  ssc/cmod_battery.h
  ssc/cmod_pvsamv1.cpp
  test/shared_test/lib_battery_dispatch_automatic_btm_test.cpp
  test/shared_test/lib_battery_powerflow_test.cpp
  test/ssc_test/cmod_battery_pvsamv1_test.cpp
Labels: bug, battery
