Repository NREL/ssc, pull requests merged in 2023-10, with the labels that each got.

#1057 Add outputs for battery self-consumption dispatch
  ssc/cmod_battery.cpp
  ssc/cmod_battery.h
Labels: battery

#1060 Ssc 755 net to sales
  ssc/cmod_annualoutput.cpp
  ssc/cmod_communitysolar.cpp
  ssc/cmod_equpartflip.cpp
  ssc/cmod_host_developer.cpp
  ssc/cmod_ippppa.cpp
  ssc/cmod_levpartflip.cpp
  ssc/cmod_saleleaseback.cpp
  ssc/cmod_singleowner.cpp
  ssc/common_financial.cpp
Labels: financial

#1061 Ssc 1058 ac loss accounting
  shared/lib_battery_powerflow.cpp
  test/shared_test/lib_battery_powerflow_test.cpp
Labels: bug, battery

#1016 Add internal resistance to voltage table calculations
  shared/lib_battery_voltage.cpp
  shared/lib_battery_voltage.h
  test/shared_test/lib_battery_voltage_test.cpp
  test/shared_test/lib_battery_voltage_test.h
  test/shared_test/lib_resilience_test.cpp
Labels: battery

#1064 Ssc 1123 price signals to retail rate naming
  shared/lib_battery_dispatch.h
  shared/lib_battery_dispatch_automatic_btm.cpp
  shared/lib_battery_dispatch_automatic_btm.h
  shared/lib_utility_rate.cpp
  ssc/cmod_battery.cpp
  test/shared_test/lib_battery_dispatch_automatic_btm_test.cpp
Labels: battery, requires SAM Help revision

#1067 Fix MSPT cavity receiver system capacity calculation
  ssc/cmod_tcsmolten_salt.cpp
Labels: bug

#1070 Sam 1208 revisit safety factor
  shared/lib_battery_dispatch.cpp
  shared/lib_battery_dispatch_automatic_btm.cpp
  ssc/cmod_battwatts.cpp
  test/shared_test/lib_battery_dispatch_automatic_btm_test.cpp
  test/ssc_test/cmod_battery_pvsamv1_test.cpp
  test/ssc_test/cmod_battery_test.cpp
  test/ssc_test/cmod_battwatts_test.cpp
  test/ssc_test/cmod_battwatts_test.h
Labels: bug, battery

#1069 Tidal timeseries model
  ssc/CMakeLists.txt
  ssc/cmod_mhk_tidal.cpp
  ssc/cmod_tidalfile.cpp
  ssc/sscapi.cpp
  test/input_cases/mhk/COD0911.csv
  test/input_cases/mhk/COI0303.csv
  test/input_cases/mhk/mhk_tidal_inputs.h
  test/ssc_test/cmod_mhk_tidal_test.cpp
Labels: new feature

#1077 Subhourly clipping fixes
  shared/lib_irradproc.cpp
  shared/lib_irradproc.h
  shared/lib_pv_io_manager.cpp
  shared/lib_pv_io_manager.h
  shared/lib_pvmodel.cpp
  shared/lib_shared_inverter.cpp
  shared/lib_shared_inverter.h
  ssc/cmod_pvsamv1.cpp
  test/shared_test/lib_irradproc_test.cpp
  test/ssc_test/cmod_pvsamv1_test.cpp
Labels: pv

#1068 Sam 1064 correct monthly curtailment
  code_attic/cmod_annualoutput.cpp
  ssc/CMakeLists.txt
  ssc/cmod_geothermal.cpp
  ssc/cmod_grid.cpp
  ssc/sscapi.cpp
  test/input_cases/grid_common_data.h
Labels: bug
