Repository NREL/ssc, pull requests merged in 2023-11, with the labels that each got.

#1085 Ssc 905 pv smoothing pv charge only
  shared/lib_battery_dispatch_pvsmoothing_fom.cpp
Labels: bug, battery

#1086 Helpful error messages when cell temperature heat transfer method is missing data
  shared/lib_cec6par.cpp
  ssc/cmod_pvsamv1.cpp
Labels: pv, requires SAM Help revision

#1078 Sam 313 reopt v3 for resilience
  ssc/cmod_battery_eqns.cpp
  ssc/cmod_battery_eqns.h
  ssc/cmod_pvsamv1_eqns.cpp
  ssc/cmod_pvsamv1_eqns.h
  test/ssc_test/cmod_battery_eqns_test.cpp
  test/ssc_test/cmod_pvsamv1_test.cpp
Labels: bug, enhancement, battery, requires SAM Help revision

#1082 Fix MSLF IPH Installed cost per capacity calculation error
  ssc/cmod_fresnel_physical_iph.cpp
Labels: csp

#1097 Fix SSC 785 hourly variables
  ssc/cmod_utilityrate5.cpp
Labels: bug, utility rate

#1098 Overhaul CSP Trough UI equations and Create new IPH Trough models
  ssc/CMakeLists.txt
  ssc/cmod_fresnel_physical.cpp
  ssc/cmod_fresnel_physical_iph.cpp
  ssc/cmod_trough_physical.cpp
  ssc/cmod_trough_physical_iph.cpp
  ssc/cmod_trough_physical_iph_old.cpp
  ssc/ssc_equations.h
  ssc/sscapi.cpp
  tcs/csp_solver_trough_collector_receiver.cpp
  tcs/csp_solver_trough_collector_receiver.h
  tcs/csp_solver_two_tank_tes.cpp
  tcs/csp_solver_two_tank_tes.h
  test/input_cases/trough_physical_iph_defaults.h
  test/shared_test/lib_csp_trough_test.cpp
  test/shared_test/lib_csp_trough_test.h
  test/ssc_test/cmod_trough_physical_iph_test.cpp
  test/ssc_test/cmod_trough_physical_test.cpp
Labels: csp
