Repository NREL/ssc, pull requests merged in 2023-09, with the labels that each got.

#1050 PV subhourly clipping correction
  shared/lib_irradproc.cpp
  shared/lib_irradproc.h
  shared/lib_pv_io_manager.cpp
  shared/lib_pv_io_manager.h
  shared/lib_shared_inverter.cpp
  shared/lib_shared_inverter.h
  ssc/cmod_pvsamv1.cpp
  test/shared_test/lib_irradproc_test.cpp
  test/ssc_test/cmod_pvsamv1_test.cpp
Labels: enhancement, pv

#1048 Address ssc issue 1047
  ssc/cmod_communitysolar.cpp
  ssc/cmod_equpartflip.cpp
  ssc/cmod_host_developer.cpp
  ssc/cmod_levpartflip.cpp
  ssc/cmod_merchantplant.cpp
  ssc/cmod_singleowner.cpp
  test/input_json/FinancialModels/host_developer/Default_HD_10_IBI_PVWatts_Host_Developer_cmod_host_developer.json
  test/input_json/FinancialModels/host_developer/Default_HD_10_IBI_PVWatts_Host_Developer_cmod_host_developer_outputs.json
  test/input_json/FinancialModels/singleowner/Default_SO_10_IBI_PVWatts_Single_Owner_cmod_singleowner.json
  test/input_json/FinancialModels/singleowner/Default_SO_10_IBI_PVWatts_Single_Owner_cmod_singleowner_outputs.json
  test/ssc_test/cmod_host_developer_test.cpp
  test/ssc_test/cmod_singleowner_test.cpp
Labels: bug, requires SAM Help revision

#1049 Add new BTM battery dispatch method for self-consumption
  shared/lib_battery_dispatch.h
  ssc/cmod_battery.cpp
  test/ssc_test/cmod_battery_pvsamv1_test.cpp
Labels: new feature, battery

#1046 New Molten Salt Linear Fresnel Model and IPH
  ssc/CMakeLists.txt
  ssc/cmod_fresnel_physical.cpp
  ssc/cmod_fresnel_physical_iph.cpp
  ssc/cmod_lcoefcr.cpp
  ssc/cmod_mspt_iph.cpp
  ssc/sscapi.cpp
  tcs/CMakeLists.txt
  tcs/csp_dispatch.cpp
  tcs/csp_solver_core.h
  tcs/csp_solver_cr_electric_resistance.cpp
  tcs/csp_solver_cr_electric_resistance.h
  tcs/csp_solver_cr_heat_pump.cpp
  tcs/csp_solver_cr_heat_pump.h
  tcs/csp_solver_fresnel_collector_receiver.cpp
  tcs/csp_solver_fresnel_collector_receiver.h
  tcs/csp_solver_gen_collector_receiver.cpp
  tcs/csp_solver_gen_collector_receiver.h
  tcs/csp_solver_lf_dsg_collector_receiver.cpp
  tcs/csp_solver_lf_dsg_collector_receiver.h
  tcs/csp_solver_mspt_collector_receiver.cpp
  tcs/csp_solver_mspt_collector_receiver.h
  tcs/csp_solver_trough_collector_receiver.cpp
  tcs/csp_solver_trough_collector_receiver.h
  tcs/csp_solver_two_tank_tes.cpp
  tcs/csp_solver_two_tank_tes.h
  tcs/csp_system_costs.cpp
  tcs/csp_system_costs.h
Labels: csp
