Repository NREL/ssc, pull requests merged in 2024-10, with the labels that each got.

#1210 Getem O&M Cost Calculator
  ssc/CMakeLists.txt
  ssc/cmod_geothermal_costs.cpp
  ssc/cmod_geothermal_eqns.cpp
  ssc/cmod_geothermal_eqns.h
  ssc/ssc_equations.h
Labels: new feature, PySAM/SDK Breaking Change

#1215 Standalone battery metrics
  shared/lib_battery_dispatch.cpp
  shared/lib_battery_dispatch.h
  ssc/cmod_battery.cpp
  ssc/cmod_battery.h
Labels: battery

#1186 New Wind Features 2024
  shared/lib_windwakemodel.cpp
  shared/lib_windwakemodel.h
  ssc/cmod_windpower.cpp
  test/shared_test/lib_windwakemodel_test.h
  test/ssc_test/cmod_windpower_test.cpp
Labels: new feature, wind, requires SAM Help revision

#1221 Add wind data check for missing data
  shared/lib_windfile.cpp
Labels: wind

#1223 Add IRR to cashloan and migrate functions to lib_financial.h
  shared/lib_financial.cpp
  shared/lib_financial.h
  ssc/cmod_cashloan.cpp
  ssc/cmod_communitysolar.cpp
  ssc/cmod_equpartflip.cpp
  ssc/cmod_host_developer.cpp
  ssc/cmod_levpartflip.cpp
  ssc/cmod_merchantplant.cpp
  ssc/cmod_saleleaseback.cpp
  ssc/cmod_singleowner.cpp
  ssc/cmod_thirdpartyownership.cpp
Labels: enhancement, architecture

#1218 Add capacity factor input to tidal turbine ssc_eqn
  ssc/cmod_mhk_eqns.cpp
Labels: mhk

#1219 Improved error codes for irradproc, solar_resource_data
  shared/lib_irradproc.cpp
  shared/lib_irradproc.h
  shared/lib_pv_io_manager.cpp
  shared/lib_util.cpp
  ssc/cmod_irradproc.cpp
  ssc/cmod_pvsamv1.cpp
  ssc/cmod_pvwattsv5.cpp
  ssc/cmod_pvwattsv7.cpp
  ssc/cmod_pvwattsv8.cpp
  ssc/cmod_swh.cpp
  ssc/common.cpp
  test/shared_test/lib_irradproc_test.cpp
  test/shared_test/lib_weatherfile_test.cpp
Labels: enhancement, pv

#1227 Add simulation timestep variable for stand alone battery
  ssc/cmod_battery.cpp
  test/input_cases/battery_common_data.h
  test/input_cases/general_data/pvsmoothing_Fuel_Cell_Phoenix_Validation_alloptions.json
  test/input_cases/generic_common_data.h
Labels: enhancement, battery

#1217 Update mhk equation docstrings
  ssc/cmod_mhk_eqns.h
Labels: mhk

#1228 Rename Generic System to Custom Generation Profile
  ssc/CMakeLists.txt
  ssc/cmod_custom_generation.cpp
  ssc/cmod_hybrid.cpp
  ssc/common.cpp
  ssc/sscapi.cpp
  test/input_cases/biomass_common.h
  test/input_cases/custom_generation_common_data.h
  test/input_cases/custom_generation_data/batt_custom_dispatch.csv
  test/input_cases/custom_generation_data/batt_custom_dispatch_30min.csv
  test/input_cases/custom_generation_data/batt_custom_dispatch_60min.csv
  test/input_cases/custom_generation_data/cp_variable_amount.csv
  test/input_cases/custom_generation_data/cp_variable_percent_nameplate.csv
  test/input_cases/custom_generation_data/curtailment_30min_0percent.csv
  test/input_cases/custom_generation_data/curtailment_30min_50percent.csv
  test/input_cases/custom_generation_data/dispatch_factors_ts.csv
  test/input_cases/custom_generation_data/energy_output_array.csv
  test/input_cases/custom_generation_data/energy_output_array_30min-2yr.csv
  test/input_cases/custom_generation_data/energy_output_array_30min.csv
  test/input_cases/custom_generation_data/energy_output_array_30min.xlsx
  test/input_cases/custom_generation_data/energy_output_array_60min.csv
  test/input_cases/custom_generation_data/generic.sam
  test/input_cases/custom_generation_data/load.csv
  test/input_cases/custom_generation_data/load_30min.csv
  test/input_cases/custom_generation_data/load_60min.csv
  test/input_cases/custom_generation_data/ur_ts_sell_rate.csv
  test/input_cases/grid_common_data.h
  test/input_json/hybrids/CustomGeneration PVWatts Wind FuelCell Battery Hybrid_Single Owner.json
  test/shared_test/lib_battery_dispatch_pvsmoothing_fom_test.cpp
  test/ssc_test/cmod_cashloan_test.cpp
  test/ssc_test/cmod_custom_generation_test.cpp
  test/ssc_test/cmod_custom_generation_test.h
  test/ssc_test/cmod_equpartflip_test.cpp
  test/ssc_test/cmod_host_developer_test.cpp
  test/ssc_test/cmod_hybrid_test.cpp
  test/ssc_test/cmod_lcoefcr_test.cpp
  test/ssc_test/cmod_levpartflip_test.cpp
  test/ssc_test/cmod_merchantplant_test.cpp
  test/ssc_test/cmod_saleleaseback_test.cpp
  test/ssc_test/cmod_singleowner_test.cpp
  test/ssc_test/cmod_thirdpartyownership_test.cpp
Labels: requires SAM Help revision, architecture

#1224 Sam 181 interconnection limits
  shared/lib_battery_dispatch.cpp
  shared/lib_battery_dispatch.h
  shared/lib_battery_dispatch_automatic_btm.cpp
  shared/lib_battery_dispatch_automatic_btm.h
  shared/lib_battery_dispatch_automatic_fom.cpp
  shared/lib_battery_dispatch_automatic_fom.h
  shared/lib_battery_dispatch_manual.cpp
  shared/lib_battery_dispatch_manual.h
  shared/lib_battery_dispatch_pvsmoothing_fom.cpp
  shared/lib_battery_dispatch_pvsmoothing_fom.h
  shared/lib_battery_powerflow.cpp
  shared/lib_battery_powerflow.h
  ssc/cmod_battery.cpp
  ssc/cmod_battery.h
  test/shared_test/lib_battery_dispatch_automatic_btm_test.cpp
  test/shared_test/lib_battery_dispatch_automatic_fom_test.cpp
  test/shared_test/lib_battery_dispatch_manual_test.cpp
  test/shared_test/lib_battery_dispatch_test.h
Labels: enhancement, battery
