Repository NREL/ssc, pull requests merged in 2024-11, with the labels that each got.

#1236 Consistent monthly and annual energy labels
  ssc/cmod_battery.cpp
  ssc/cmod_biomass.cpp
  ssc/cmod_fresnel_physical.cpp
  ssc/cmod_fresnel_physical_iph.cpp
  ssc/cmod_fuelcell.cpp
  ssc/cmod_generic_system.cpp
  ssc/cmod_geothermal.cpp
  ssc/cmod_grid.cpp
  ssc/cmod_hcpv.cpp
  ssc/cmod_linear_fresnel_dsg_iph.cpp
  ssc/cmod_mhk_tidal.cpp
  ssc/cmod_mhk_wave.cpp
  ssc/cmod_mspt_iph.cpp
  ssc/cmod_pvsamv1.cpp
  ssc/cmod_pvwattsv8.cpp
  ssc/cmod_snowmodel.cpp
  ssc/cmod_tcsdish.cpp
  ssc/cmod_tcsgeneric_solar.cpp
  ssc/cmod_tcslinear_fresnel.cpp
  ssc/cmod_tcsmslf.cpp
  ssc/cmod_tcstrough_empirical.cpp
  ssc/cmod_tcstrough_physical.cpp
  ssc/cmod_trough_physical.cpp
  ssc/cmod_trough_physical_iph.cpp
  ssc/cmod_windpower.cpp
  ssc/common.cpp
Labels: requires SAM Help revision

#1235 Sam 391 ssc 825 merchant plant forecast upgrades
  shared/lib_battery_dispatch.h
  shared/lib_battery_dispatch_automatic_fom.cpp
  shared/lib_battery_dispatch_automatic_fom.h
  ssc/cmod_battery.cpp
  ssc/cmod_battery.h
  ssc/common.cpp
  ssc/common.h
  test/shared_test/lib_battery_dispatch_automatic_fom_test.cpp
  test/shared_test/lib_battery_dispatch_automatic_fom_test.h
Labels: enhancement, battery

#1240 Better handling of floating point numbers for tier tolerences
  shared/lib_utility_rate_equations.cpp
Labels: dev bug

#1241 Sam 1869 battery adjust losses
  shared/lib_battery.cpp
  shared/lib_battery.h
  shared/lib_battery_capacity.cpp
  shared/lib_battery_capacity.h
  shared/lib_battery_dispatch.cpp
  shared/lib_battery_dispatch_automatic_btm.cpp
  shared/lib_battery_dispatch_automatic_fom.cpp
  shared/lib_battery_dispatch_manual.cpp
  shared/lib_battery_dispatch_pvsmoothing_fom.cpp
  shared/lib_battery_powerflow.cpp
  shared/lib_battery_powerflow.h
  shared/lib_resilience.cpp
  shared/logger.cpp
  ssc/cmod_battery.cpp
  ssc/cmod_battery.h
  ssc/cmod_battery_stateful.cpp
  ssc/cmod_battwatts.cpp
  ssc/cmod_pvsamv1.cpp
  ssc/common.cpp
  ssc/common.h
  test/shared_test/lib_battery_capacity_test.cpp
  test/shared_test/lib_battery_dispatch_automatic_btm_test.cpp
  test/shared_test/lib_battery_dispatch_automatic_btm_test.h
  test/shared_test/lib_battery_dispatch_automatic_fom_test.cpp
  test/shared_test/lib_battery_dispatch_automatic_fom_test.h
  test/shared_test/lib_battery_dispatch_manual_test.cpp
  test/shared_test/lib_battery_dispatch_manual_test.h
  test/shared_test/lib_battery_powerflow_test.cpp
  test/shared_test/lib_battery_test.cpp
  test/shared_test/lib_battery_test.h
  test/shared_test/lib_resilience_test.cpp
  test/ssc_test/cmod_battery_pvsamv1_test.cpp
  test/ssc_test/cmod_battery_stateful_test.cpp
Labels: enhancement, battery, requires SAM Help revision

#1248 Fix SAM issue 1927
  ssc/cmod_singleowner_heat.cpp
Labels: dev bug
