Repository NREL/ssc, pull requests merged in 2024-12, with the labels that each got.

#1254 Fix MSLF IPH bug calculating aux and bop
  ssc/cmod_fresnel_physical_iph.cpp
Labels: bug, csp

#1250 Add placeholder variables for IPH physical heat sink model
  ssc/cmod_fresnel_physical_iph.cpp
  ssc/cmod_mspt_iph.cpp
  ssc/cmod_trough_physical_iph.cpp
Labels: csp

#1249 Update marine device cost curves
  ssc/cmod_mhk_costs.cpp
  ssc/cmod_mhk_tidal.cpp
Labels: mhk

#1257 Update hybrid om vartable to input monthly_energy, not inout
  ssc/common.cpp
Labels: dev bug

#1260 Ssc 1259 scale w pv ac
  ssc/cmod_fresnel_physical.cpp
  ssc/cmod_hybrid.cpp
  ssc/cmod_pvsamv1.cpp
  ssc/cmod_pvwattsv8.cpp
  ssc/cmod_trough_physical.cpp
  ssc/common.cpp
  test/ssc_test/cmod_hybrid_test.cpp
Labels: bug, hybrid

#1258 Ssc 1256 better hybrid batteries
  ssc/cmod_hybrid.cpp
  ssc/cmod_pvsamv1.cpp
  ssc/cmod_pvwattsv8.cpp
  test/ssc_test/cmod_hybrid_test.cpp
Labels: bug, hybrid

#1263 Fix inconsistent group names
  ssc/cmod_fresnel_physical.cpp
  ssc/cmod_fresnel_physical_iph.cpp
Labels: dev bug

#1264 Allow for zero time series buy and sell rates
  ssc/cmod_utilityrate5.cpp
  ssc/sscapi.cpp
  test/ssc_test/cmod_utilityrate5_test.cpp
Labels: bug, utility rate
