Repository NREL/ssc, pull requests merged in 2024-03, with the labels that each got.

#1136 Update debt fraction limits code to only lend when projects have a possitive ebitda.
  ssc/cmod_host_developer.cpp
  ssc/cmod_levpartflip.cpp
  ssc/cmod_merchantplant.cpp
  ssc/cmod_singleowner.cpp
  ssc/common.cpp
  ssc/common_financial.cpp
Labels: bug, financial

#1130 Me wave file reader
  ssc/cmod_mhk_wave.cpp
  ssc/cmod_tidalfile.cpp
  ssc/cmod_wavefile.cpp
Labels: bug, mhk

#1137 Distribution clipping method
  shared/lib_irradproc.cpp
  shared/lib_pv_io_manager.cpp
  shared/lib_pv_io_manager.h
  shared/lib_shared_inverter.cpp
  ssc/cmod_pvsamv1.cpp
  test/ssc_test/cmod_pvsamv1_test.cpp
Labels: new feature, pv

#1152 Modify index to year 1 index to correctly utilize tou demand function
  shared/lib_utility_rate_equations.cpp
  test/shared_test/lib_battery_dispatch_automatic_btm_test.cpp
Labels: bug, battery
