Repository NREL/ssc, pull requests merged in 2024-07, with the labels that each got.

#1182 Sam 1806 make tolerances more consistent
  shared/lib_battery.cpp
  shared/lib_battery_capacity.cpp
  shared/lib_battery_dispatch.cpp
  shared/lib_battery_dispatch_manual.cpp
  shared/lib_resilience.cpp
  test/ssc_test/cmod_battery_pvsamv1_test.cpp
  test/ssc_test/cmod_battery_test.cpp
Labels: bug, battery

#1187 Update REopt API
  ssc/cmod_battery_eqns.cpp
  ssc/cmod_pvsamv1_eqns.cpp
Labels: bug, battery

#1194 Initialize ground clearance height for IEC module model
  shared/lib_pv_io_manager.cpp
Labels: bug, pv

#1181 Tidal turbine power curve generation
  ssc/cmod_mhk_eqns.cpp
  ssc/ssc_equations.h
Labels: mhk

#1189 Getem cost updates
  shared/lib_geothermal.cpp
  ssc/cmod_geothermal_costs.cpp
  test/shared_test/lib_geothermal_test.cpp
  test/ssc_test/cmod_geothermal_costs_test.cpp
  test/ssc_test/cmod_geothermal_test.cpp
Labels: bug
